.mint-popup[data-name='airline-change-rules-popup']
    width: px2rem(690px)
    background-color: transparent
    display: block
    overflow: hidden
    border-radius: px2rem(24px)
  .container
    padding: 0.3rem 0.6rem
    box-sizing border-box
    // margin: @height * -0.5 auto auto @width * -0.5
    overflow: auto
    background-color: #fff
    .title
        height: 1.2rem
        line-height: @height
        font-size: px2rem(40px)
        text-align: center
        color: #000
        font-weight: 600
    .subtitle
        height: 1rem
        line-height: @height
        font-size: px2rem(30px)
        text-align: left
        color: #000
    .content
        min-height: px2rem(560px)
        overflow: auto
        .label
            font-size: px2rem(36px)
            line-height: 1rem
        .text
            font-size: px2rem(28px)
            color: #666
            line-height: 1.5
            margin-bottom: 0.3rem