.mint-popup[data-name='booking-notes-popup']
    width: px2rem(690px)
    background-color: transparent
    display: block
    // overflow: hidden
    
  .container
    position: relative
    padding: 1.2rem 0.5rem 0.75rem
    background: #fff url("/images/commons/bg-notice-popup.jpg") bottom center no-repeat
    background-size(100% auto)
    border-radius: px2rem(24px)
    
    &::before
        content: ''
        position: absolute
        left: 50%
        top: -1.1rem
        z-index: 1
        width: 2.65rem
        margin-left: @width * -0.5
        height: @width
        display: block
        border-radius(100%)
        background: #fff inline-url("images/commons/icon-notice-popup.png") center 30% no-repeat
        background-size(60% auto);
    .title
        height: 0.9rem
        line-height: 0.9rem
        text-align: center
        margin-bottom: 0.3rem
        z-index: 2
        position: relative
        font-size: px2rem(40)
        color: #5d5d5d
        &:before
            content: ''
            display: inline-block
            height: 100%
            width: 1px
            vertical-align: middle
            color: #5d5d5d
        .split-before,
        .split-after
            display: inline-block
            vertical-align: middle
            height: 1px
            width: 0.8rem
            position: relative
            background-color: #eaeaea
            &::before
                content: ''
                display: block
                position: absolute
                top: -3px
                width: px2rem(7px)
                height: px2rem(7px)
                border-radius(50%)
                background-color: #aaaaaa
                
        .split-before::before
            right: -2px
        .split-after::before
            left: -2px
        .title-main
            margin: 0 0.2rem
    .content
        line-height: 0.6rem
        color: #333
        margin-bottom: 0.5rem
        font-size: px2rem(32)
        
        .paragraph
            margin-bottom: .2rem;
