$item-height = 1rem
$item-v-space = 0.3rem
$itme-border-color = #e2e2e2
$c-color-blue = #009ff0
$c-color-gray4 = #cacaca


.filter-container
    background-color:#ededed
    padding:0.2rem
    height:auto
    .section
        .title
            height: 0.46rem
            line-height: @height
            color: #333
        .options
            padding: 0.3rem 0
            overflow: visible
            &::after
                content: ''
                clear: both
                display: block
                height: 1px
                width: 1px
            .item
                box-sizing(border-box)
                position: relative
                z-index: 1
                margin-bottom: 0.3rem
                margin-left: -1px
                display: inline-block
                border: 1px solid $itme-border-color
                height: $item-height
                overflow: hidden
                line-height: @height
                text-align: center
                color: #333
                font-size: 0.3rem
                background-color: #fff
                &.active
                    z-index: 2
                    border-color: $c-color-blue;
                    color: $c-color-blue;
                    background-color: #edf3fd;
                &.disable
                    color: $c-color-gray4
        &.price .item
            $num = 4
            width: (100% / $num)

        &.level .item
            $num = 3
            width: (100% / $num)
    
    .confirm
        display: block
        height: px2rem(90px)
        width: 100%
        border-radius(px2rem(8px))
        background-color: $c-color-blue
        line-height: @height
        text-align: center
        font-size: px2rem(32px)
        color: #fff

.mint-popup-bottom[data-name='c-select-grade-price']
    width:100%

