.mint-popup-bottom[data-name='c-prebill']
    width 100%

    $space-left = 0.4rem
    bottom: px2rem(110px)
    height: auto

    .contain
        background-color: #fff
        .title
            color: #000
            border-top: px2rem(2px) solid #eaeaea
            padding-left: $space-left
            height: px2rem(100px)
            line-height: @height
            color: #000
            font-size: px2rem(36px)
        .section
            border-top: px2rem(2px) solid #eaeaea
            color: #333
            padding: px2rem(20px) $space-left
            font-size: px2rem(28px)
            .row
                vertical-align: middle
                height: px2rem(50px)
                line-height: @height
                .label,
                .price,
                .count
                    display: inline-block
                .label
                    width: px2rem(320px)
                    font-size: px2rem(28px)
                .price
                    width: px2rem(200px)
                    color: #ff7e00 