extends ./partials/layout

append css
  link(rel='stylesheet', type='text/css', href=`${STATIC_PATH}/css/app.css?v=${VERSION}`)
  if webpackAssets.css
    each css in webpackAssets.css
      link(rel='stylesheet', type='text/css', href=css)

append js
  if webpackAssets.js
    each js in webpackAssets.js
      script(type='text/javascript', src=js)

block content
  #app