// 保险弹出层
.mint-popup[data-name='insurance-info-popup']
    width: px2rem(690px)
    background-color: transparent
    display: block
    overflow: hidden
    border-radius: px2rem(24px)
    .container
        box-sizing border-box
        color: #666
        line-height: 0.56rem
        background-color: #fff
        vertical-align: middle
        font-size: px2rem(28px)
        padding: 0 0.6rem
        border-radius(px2rem(16px))
        .title
            font-size: px2rem(40px)
            color: #000
            font-weight: 600
            height: px2rem(100px)
            line-height: @height
            text-align: center
            margin: 0
        main
            height: px2rem(800px)
            overflow: auto
        section
            tr
                vertical-align: top
                line-height: 0.6rem
                .label
                    width: 1.5rem
                    vertical-align: top
                .info
                    padding-left: 0.3rem
            .section-title
                font-weight: bold
                text-align: left
                font-size: px2rem(30px)
                line-height: 0.9rem
            img
                max-width: 100%