.voyage-info
    overflow: hidden
    padding-top 0.45rem
    font-size: px2rem(24px)
    text-align: center
    position: relative
    .main-block
        display: block
        text-align: center
        margin-bottom: 0.38rem
        .data-block,
        .progress
            display: inline-block
            vertical-align: bottom
            width: 2.66rem
        .data-block
            height: 2.2rem
            .city,
            .airport
                height: 0.6rem
                line-height: @height
                text-align: center
            .time
                font-size: px2rem(60px)
                height: 1rem
                line-height: @height
                text-align: center
        .progress
            width: 2.85rem
            text-align: center
            // padding-top: 0.6rem
            .date
                height: 0.6rem
                line-height: @height
                
            .icon
                display: block
                height: 1rem
                background-position: center center
                background-repeat: no-repeat
                background-size auto 55%
            .duration
                height: 0.6rem
                line-height: 0.6rem
                font-size: px2rem(24px)

    .detail
        display: inline-block
        // height: 0.9rem
        .flight-info
            margin-bottom: 0.5rem

        .share-acture
            text-align: left
            margin-top: -0.4rem
            padding-left: 0.65rem
            height: 0.96rem
            line-height: 0.96rem
            background: inline-url('images/flight/acture.png') left top no-repeat
            background-size(0.5rem auto)

    &::before
        display: block
        position: absolute
        border: 1px solid
        left: 0.3rem
        top: 0.5rem
        width: 0.37rem
        height: @width
        text-align: center
        font-size: px2rem(22px)
        border-radius(px2rem(3px))

    &[mode="depart"]::before
        width: px2rem(30px);
        height: px2rem(30px);
        content: '往'
        color: rgba(255,255,255,0)
        border-color: transparent
        background inline-url('images/flight/go_ico_t.png') center no-repeat
        background-size cover

    &[mode="return"]::before
        width: px2rem(30px);
        height: px2rem(30px);
        content: '返'
        color: rgba(255,255,255,0)
        border-color: transparent
        background inline-url('images/flight/fan_ico_t.png') center no-repeat
        background-size cover

    &[mode="single"]::before
        content: '单'

    &[mode="depart"], &[popup]
        &::before 
            background-image inline-url("/images/flight/go_ico.png")

    &[mode="depart"], &[popup]
        &::before
            background-image inline-url("/images/flight/fan_ico.png")        

.voyage-info[theme="blue"]
    background-color: #009ff0
    color: #aadbf4
    .color-1
        color: #fff
    .progress .icon
        background-image: inline-url('images/flight/airplane_1.png')


.voyage-info[theme="white"]
    background-color: #fff
    color: #333
    .color-1
        color: #000
    .progress .icon
        background-image: inline-url('images/flight/airplane_2.png')


.voyage-info[border]::after
    content: ''
    position: absolute
    width: 95%
    left: 2.5%
    height: 1px
    top: 0
    background-size(contain)


.voyage-info[theme="blue"]::after
    background: inline-url('images/flight/dash-border_1.png') center

.voyage-info[theme="white"]::after
    background: inline-url('images/flight/dash-border_2.png') center