.mint-loadmore
  overflow: hidden

.mint-loadmore-content
  &.is-dropped
    transition: .2s

.mint-loadmore-top, .mint-loadmore-bottom
    text-align: center;
    height: px2rem(200px);
    line-height: @height

.mint-loadmore-top
    margin-top: px2rem(-200px);

.mint-loadmore-bottom
    margin-bottom: px2rem(-200px);

.mint-loadmore-spinner 
    display: inline-block;
    margin-right: px2rem(-10px);
    vertical-align: middle

.mint-loadmore-text 
    vertical-align: middle

