.mint-popup[data-name='reason-for-noapply']
    border-radius: px2rem(24px)
    #mismatch-reason
        text-align: center
        &::before
            content: ''
            display: inline-block
            // height: 100%
            // width: 1px
            vertical-align: middle
        .container
            display: inline-block
            vertical-align: middle
            width: 8.6rem
            padding: 0.6rem 0.4rem 1rem
            color: #666
            text-align: left
            font-size: px2rem(30px)
            background-color: #fff
            border-radius: px2rem(24px)
            .title
                color: #000
                line-height: 1.5
                font-size: px2rem(34px)
                text-align: center
                margin-bottom: 0.3rem
            .introduction
                border-bottom: 1px solid #cacaca
                line-height: 0.6rem
                margin-bottom: 0.3rem
                padding-bottom: 0.3rem
            .reason
                .label
                    color: #333
                    line-height: 1rem
                .content
                    line-height: 1.2
                    margin-bottom: 0.5rem