.mint-popup-bottom[data-name='c-airline-filters']
  width 100%

  .c-airline-filters
    width: 100%
    $row-height = px2rem(100px)
    font-size: px2rem(36px)

    .c-airline-filters-header
        height: $row-height
        background-color: #eeeeee
        text-align: center;

        .c-select-button
            width: px2rem(180px)
            height: @height
            line-height: @height
            color: #009ff0
            font-size: px2rem(34px)
            text-align: center
            outline: none
            border 0 none
            background: inherit

    .c-airline-filters-main
        display: flex

        .c-airline-filters-tabs
            flex: 1;
            border-right: 1px solid #ddd;
            background-color: #eee;
            li
                margin-right: -1px
                color: #666
                padding-left: px2rem(26px)
                &.active
                    border: 1px solid #cecece;
                    border-width: 1px 0;
                    background-color: #fff;

        .c-airline-filters-tabs, .c-airline-filters-options
            height: $row-height * 7
            li
                height: $row-height
                line-height: @height

        .c-airline-filters-options
            flex: 2
            overflow-y: auto
            border-top: 1px solid #ddd;
            
            li
                border-top: 1px solid #e2e2e2
                position: relative
                color: #333
                overflow(ellipsis)
                width: 100%
                padding-left: px2rem(52px)
                &.checked::after
                    content: ''
                    position: absolute
                    display: block
                    width: px2rem(50px)
                    height: @width
                    top: 50%
                    right: 0.52rem
                    margin-top: @height * -0.5
                    background: #ff7e00 inline-url("images/commons/icon-check_1@2x.png") center no-repeat
                    background-size: 60%
                    border-radius: 50%